<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="playeras.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Playeras Luka Santorini</title>
</head>
<body>
    <h1>NavBar</h1>
    <div class="foto1">
    <img src="https://res.cloudinary.com/dzrqrtezc/image/upload/v1676229431/IMG_9868_vpuxgk.jpg" alt="hombre y mujer sentados en la acera con un skate al lado con payeras puestas love 4 galli blancas">
    </div>
    <div class="segundotexto"><P>Playeras<p></div>
   
        <div class="fila">
            <div class="columna">
                <img src="https://res.cloudinary.com/dzrqrtezc/image/upload/v1676158169/LSSW_x_DANNY_OCEAN_BABYLON_G_NEGRA_FRONTAL_cfbnyh.png" alt="playera negra de danny ocean babylon">
                
            </div>
        
            <div class="columna">
                <img src="https://res.cloudinary.com/dzrqrtezc/image/upload/v1676227552/HARRY_STYLES_LOVE_ON_TOUR_BLANCA_ESPALDA_kurmeg.png" alt="playera blanca harry styles liveo on tour">
                
            </div>
            <div class="columna">
                <img src="https://res.cloudinary.com/dzrqrtezc/image/upload/v1676228105/DADDY_YANKEE_X_LSSW_NEGRA_FRONTAL_q72mpq.png"alt="playera gra daddy yankee estampado bellakeo old school"> 
            </div>
        </div>
        <div class="fila">
            <div class="columna">
                <img src="https://res.cloudinary.com/dzrqrtezc/image/upload/v1676228252/LOVE_4_GALLI_BLANCA_ESPALDA_dyqj2b.png"alt="playera love 4 galli blanca con estampado en color rojo y negro " >
            </div>
            <div class="columna">
                <img src="https://res.cloudinary.com/dzrqrtezc/image/upload/v1676158133/LSSW_DANNY_OCEAN_BABYLON_G_ROJA_ESPALDA_mgnxb1.png" alt="playera roja danny ocean babylon ">
            </div>
                <div class="columna">
                    <img src="https://res.cloudinary.com/dzrqrtezc/image/upload/v1676229206/blnaca_basica_dmhifj.png">
                </div>   
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>