.container {
    display: grid ;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
  }
  .card {
    width: 100%;
    padding: 10%;
  }
  .foto1{
    float:inline-end;
    width: 130%;
    }
 


