@font-face {
    font-family: coolvetica;
    src: url("./coolvetica\ rg.otf");
}

@font-face {
    font-family: applegaramound;
    src: url("./AppleGaramond-Bold.ttf");
}

* {
    box-sizing: border-box;
}

@media only screen and (max-width: 6000px) {
    .segundotexto {
        font-family: applegaramound;
        font-size: 300%;
        margin: 4%;
    }}

    @media only screen and (max-width: 600px) {
        .segundotexto {
            font-family: applegaramound;
            font-size: 200%;
            margin: 4%;
        }
    }

    @media only screen and (max-width: 500px) {
        .segundotexto {
            font-family: applegaramound;
            font-size: 120%;
            margin: 4%;
        }
    }

    @media only screen and (max-width: 200px) {
        .segundotexto {
            font-family: applegaramound;
            font-size: 100%;
            margin: 4%;
        }
    }

    .foto1 {
        float: inline-end;
        width: 130%;
    }

    /*
.segundotexto{
    font-family: applegaramound;
    font-size: 500%;
    margin: 4%;
}
*/
    .columna {
        float: left;
        width: 33%;
        padding-right: 5px;
    }

    .fila::after {
        content: "";
        clear: both;
        display: table;
    }

    img {
        /* Para que sea responsiva */
        width: 85%;
    }