@font-face {
    font-family: coolvetica;
    src: url("./coolvetica\ rg.otf");
  }
@font-face {
    font-family: applegaramound;
    src: url("./AppleGaramond-Bold.ttf");
  }
  @font-face {
    font-family: applegaramoundbase;
    src: url("./AppleGaramond-Bold.ttf");
  }
 * {
    box-sizing: border-box;
}@media only screen and (max-width: 6000px) {
    .segundotexto{
        font-family: applegaramound;
        font-size: 400%;
        margin: 4%;
    }
}
@media only screen and (max-width: 600px) {
    .segundotexto{
        font-family: applegaramound;
        font-size: 300%;
        margin: 4%;
    }
  }
 @media (max-width: 500px) {
    .segundotexto{
        font-family: applegaramound;
        font-size: 300%;
        margin: 4%;
    }
  }

/*
.segundotexto{
    font-family: applegaramound;
    font-size: 500%;
    margin: 4%;
}
*/


img {
    /* Para que sea responsiva */
    max-height: -100%;
    width: 100%;
  

}

.titulo , .boton , .precio {
    display: flex;
    text-align: center;
    font-size: 300%;
    display: block; 
    margin: 0px auto;
    font-family: applegaramoundbase;
}
.titulo , .boton , .precio{
   position: relative;
   top: -30px;
}
.boton{
    background-color: black;
    color: white;
}
.imgpolaroid{
    width: 100%;
    
}
@media (min-width: 650px) {
    .columna {
        float: left;
        width: 33%;
        padding-right: 5px;
    }
    
    .fila::after {
        content: "";
        clear: both;
        display: table;
    }
    .titulo , .boton , .precio{
        font-size: 160%;
    }
  }
  @media (max-width: 500px) {
    .titulo , .boton , .precio{
        font-size: 170%;
    }
}
  @media (max-width: 420px) {
    .titulo , .boton , .precio{
        font-size: 160%;
    }
}
