

body {
    background-color: #FFFFFF !important;
}

.header-carrito {
    font-family: applegaramond;
    font-size: 46px;
    font-weight: 700;
    align-items: center;
    margin: auto;
    padding: 45px 15px 2px 15px;
}

.product-list {
    width: 100%;
    display: inline-table;
    margin: 0px 0px 15px 0px;
    align-items: center;
    border-right: 2px #808080 solid;


}

.shirt-picture {
    height: 220.5px;
    padding: 10px 10px 40px 10px;
    border: 0.05px #c3c3c3 solid;
    margin: 23px 10px 10px 10px;
    box-shadow: 2px 3px 4px 2px #ababab;
    border-radius: 1.2%;
    vertical-align:bottom;
    

}

.shirt-picture:hover {
    
    border: none;
    transition: 0s;
    animation: headShake;
    animation-duration: 5s;
    cursor: pointer;
}

.product-name {
    font-family: 'Coolvetica', sans-serif;
    font-size: 25px;
    font-weight: 400;
    padding: 30px 10px 10px 10px;
}

/*}.product-name:hover{
    text-decoration-line: underline;
    cursor: pointer;
}*/

.text-description {
    font-family: 'Apple Garamond', sans-serif;
    font-size: 26px;
    font-weight: 400;
    padding: 10px 20px 10px 10px;
}

.price {
    font-family: 'Apple Garamond', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;

}



.delete-item {
    font-family: 'Apple Garamond', sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-align: right;
    padding: 10px 20px 10px 10px;
}

.delete-item:hover{
    text-decoration-line: underline;
    cursor: pointer;
}

.resume-items {
    width: 100%;
    display: inline-table;
    align-items: center;
    margin: 10px;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    padding: 50px 10px 50px 10px;
   
}

.total-title {
    font-family: 'Apple Garamond', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding: 50px 10px 50px 10px;
    
}

.product-resume {
    font-family: 'Coolvetica', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 65%;
    padding: 6px 2px 7px 10px;
    border-spacing: 0px;
   
}

/*}.product-resume:hover{
    text-decoration-line: underline;
    cursor: pointer;

}*/

.price-resume {
    font-family: 'Apple Garamond', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    padding: 2px 10px 2px 0px;   
    border-spacing: 0px;
   

}

.total-description {
    font-family: 'Apple Garamond', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    padding: 40px 0px 2px 20px;
    border-top: 2px solid #808080;
    border-spacing: 20px;
    
}

.total-price {
    font-family: 'Apple Garamond', sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-align: right;
    padding: 40px 10px 2px 0px;
    border-top: 2px solid #808080;   
    border-spacing: 0px;
}

.checkout {
    text-align: center;
    padding: 60px 10px 10px 10px;
}

.button-carrito {
    text-align: center;
    font-family: 'Apple Garamond', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    background: #040807;
    border: 1px solid #040807 ;
    width: 220px;
    height: 50px;
    padding: 25px 10px 25px 10px;
    align-items: center;
    box-shadow: 2px 3px 4px 2px #ababab;
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: black;
  
}

.button-carrito:hover {
   
    color: #040807;
    transition: 0.5s;
    background: #eee8aa;
    box-shadow: 2px 3px 4px 2px #808080;
    text-decoration: underline;
    text-decoration-color: #eee8aa;

    
    
}

@media(min-width: 370px) {
    .resume-items{
        width: 100%;
    
    }
    .product-list{
        width: 100%;
        
    }
    .shirt-picture{
        height: 150.5px !important;
    }
}

@media(min-width: 780px) {
    .resume-items{
        width: 100%;
       
    }
    .product-list{
        width: 100%;
        
    }
    .shirt-picture{
        height: 200.5px !important;
    }
}

@media(min-width: 1090px) {
    .resume-items{
        width: 38%;
    }
    .product-list{
        width: 60%;
    }
    .shirt-picture{
        height: 220.5px !important;
    }
   
}

@media (max-width: 1080px) {
    .resume-items{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        
    }

    .product-list{
        border: none;
    }
   
}

@media(min-width: 370px) {
    .button-carrito{
        font-size: 25px;
        width: 200px;
        height: 45px;
    }
}

@media(min-width: 780px) {
    .button-carrito{
        font-size: 27px;
        width: 210px;
        height: 50px;
    }
}

@media(min-width: 1090px) {
    .button-carrito{
        font-size: 29px;
        width: 220px;
        height: 45px;
    }
}

.productrow {
 padding: 30px 10px 5px 15px;
 margin: 2px;
 vertical-align:top;
}
