<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contacto.css">
    <title>Contacto</title>
</head>
<body>
    <div class="parent">
        <div class="logo">
            <img src="img/LucaSanto banner-02.png" alt="">
        </div>
        <div class="container-form">
            <div class="image-form">
                <img src="img/ChildhoodManifest-Contact-BG.jpg" alt="" />
            </div>
            <div class="info-form">
                <form>
                    <h1>Contáctanos</h1>
                    <label for="name">Nombre:</label><br />
                    <input type="text" id="name" name="user_name" /><br />
                    
                    <label for="mail">Correo electrónico:</label><br />
                    <input type="email" id="mail" name="user_mail" /><br />
                    
                    <label for="phone">Número de teléfono:</label><br />
                    <input type="number" id="phone" name="user_phone" /><br />
                    
                    <label for="msg">Mensaje:</label><br />
                    <textarea id="msg" name="user_message"></textarea><br />
                    
                    <button class="enviar" id="enviarContacto">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="contacto.js"></script>
</body>
</html>