.parent{
    display: grid;
    place-items: center;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-form {
    background-color: #D9D9D9;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    width: 20rem;
}

.info-form label{
    align-items: left;
    margin-bottom: 1rem;
}

.info-form input, textarea{
    align-items: left;
    background: none;
    border-bottom: 1px solid #000;
}

.image-form {
    float:left;
    display: flex;
    place-items: center;
    height: 30rem;
    width: 20rem;
}

.image-form img {
    height: 100%;
    width: 100%;
}

.enviar{
    background-color: #000;
    color: white;
    width: 150px;
}

.logo img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
}

input, textarea {
    padding-top: 2rem;
    border: 0;
    outline: 0;
}
