<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="checkout.css">
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
    />
    <title>Checkout</title>
</head>
<body>
    <div class="parent">
        <div class="container-form">
            <header class="header-form">
                <div class="col-6"><h1>Checkout</h1></div>
                <div class="col-6"><h3>Resumen de compra</h3></div>
            </header>
            <aside class="data-form">
                <form>
                    <table class="checkout-table">
                        <tr>
                            <td> <input type="text" id="name" name="user_name" placeholder="Nombre(s)"/> </td>
                            <td> <input type="text" id="last_name" name="user_last_name" placeholder="Apellidos"/> </td>
                        </tr>
                        <tr>
                            <td colspan="2"> <input colspan="2" type="text" id="address" name="user_address" placeholder="Domicilio"/> </td>
                        </tr>
                        <tr>
                            <td> <input type="number" id="zip" name="user_zip" placeholder="Código postal"/> </td>
                            <td> <input type="text" id="location" name="user_location" placeholder="Municipio"> </td>
                        </tr>
                        <tr>
                            <td colspan="2"> <input type="text" id="state" name="user_state" placeholder="Estado"/> </td>
                        </tr>
                        <tr>
                            <td colspan="2"> <input type="text" id="reference" name="user_reference" placeholder="Referencia (Opcional)"/> </td>
                        </tr>
                        <tr>
                            <td colspan="2"> <input type="email" id="mail" name="user_mail" placeholder="Correo electrónico"/> </td>
                        </tr>
                    </table>
                    <button class="continue-button">Continuar</button>
                </form>
            </aside>
            <article class="summary-form">
                <form action="">
                    <img src="" alt=""><br>
                    <img src="" alt="">   
                    <hr>
                    <label class="total">Total:</label><br />
                </form>
            </article>
        </div>
    </div>
</body>
</html>