#ImagenPaginaInicio {
    width: 100%;
    height: auto;
}
.ImagenesSegundaSeccionInicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: auto;
}
#columna1 {
    margin-top: 4rem;
    height: 30rem;
    width: 26rem;
}
#columna2 {
    height: 30rem;
    width: 26rem;
}
#columna3 {
    margin-top: 4rem;
    height: 30rem;
    width: 26rem;
}
#VerMasPaginaInicioPlayera{
    text-align: center;
    font-family: applegaramound;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    background: #040807;
    border: 1px solid #040807;
    width: 220px;
    height: 50px;
    padding: 2px 10px 10px 10px;
    align-items: center;
    box-shadow: 2px 3px 4px 2px #ababab;
    border-radius: 10px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
#VerMasPaginaInicioPlayera:hover {
    color: #040807;
    transition: 0.5s;
    background: #eee8aa;
    box-shadow: 2px 3px 4px 2px #808080;

}
#VerMasPaginaInicio{
    text-align: center;
    font-family: applegaramound;
    font-size: 30px;
    font-weight: 700;
    color: #FFFFFF;
    background: #040807;
    border: 1px solid #040807;
    width: 220px;
    height: 50px;
    padding: 2px 10px 10px 10px;
    align-items: center;
    box-shadow: 2px 3px 4px 2px #ababab;
    border-radius: 10px;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
#VerMasPaginaInicio:hover {
    color: #040807;
    transition: 0.5s;
    background: #eee8aa;
    box-shadow: 2px 3px 4px 2px #808080;

}
#h2Novedades{
    text-align: center;
    font-family: applegaramound;
    margin: 0;  
    font-size: 4rem;
}
#ImagenInicioLucaSanto{
    width: 100%;
    height: auto;
  }
  #ImagenTerceraSeccionInicio{
    height: 42rem;
    width: auto;
  }
  #h2LucaSantoriniSeccion2{
    text-align:left;
    font-family: applegaramound;
    font-size: 5rem;
    margin-left: 5%;
  }
  #SeccionTresPaginaInicio {
    display: flex;
    align-items: center;
  }

  #ImagenTerceraSeccionInicio {
    width: 44rem;
    height: 36rem;
    margin-right: 10px;
  }

  #DescripcionPlayera {
    display: flex;
    flex-direction: column;
  }
  #DescripcionPlayeraInicio{
    font-size: 1rem;
  }

  #DescripcionPlayeraInicio{
    width: 100%;
    margin-bottom: 4rem;
  }

  @media (max-width: 1000px) {
    #SeccionTresPaginaInicio {
      flex-direction: column;
      align-items: center;
    }
}
    @media (max-width: 600px) {
        #ImagenTerceraSeccionInicio {
            height: 30rem;
            width: 26rem;
          }
  }
  @media (max-width: 1001px) {
      #DescripcionPlayeraInicio{
        display: none;
      }
}

@media (max-width: 1266px) {
    #columna1 {
        margin-top: 0;
    }
    #columna3 {
        margin-top: 0;
    }
  }