.Container {
    padding-top: 20rem;
    display: grid;
    place-items: center;
}

.info-form {
    background-color: #808080;
    border-radius: .5rem;
    margin: 0 auto;
    width: 15rem;
    height: 20rem;
    padding: 1rem;
}

input, textarea {
    padding-top: 2rem;
    border: 0;
    outline: 0;
}